set -uo pipefail

export KDK_VERSION=v0.1.0
export KDK_NAME=k8s-devkit-${KDK_VERSION}
export KDK_FILENAME=${KDK_NAME}.box

export KDK_BASE_VERSION=v0.1.0
export KDK_BASE_NAME=k8s-devkit-base-${KDK_BASE_VERSION}
export KDK_BASE_FILENAME=${KDK_BASE_NAME}.box

[[ ! -d /keybase/team ]] \
  && echo "WARNING: Required Keybase VirtualFS at '/vagrant' is not present."

export KDK_BASE_TOKEN=$(cat /keybase/team/***REMOVED***/minio-basic-auth/non-prod/pass)
export KDK_BASE_URL="https://token:${KDK_BASE_TOKEN}@minio.platform.csco.cloud/platform-public/vbox/${KDK_BASE_FILENAME}"
export KDK_BASE_SHA256=5ac30bb2a0dd939f466984cd2952572bccbf3c45fc9c90baa0b5099c1f682129
