*.box
*.private
*/.venv/*
*/env/*
*/venv/*
*~
.#*
.DS_Store
.cache/
.vagrant/
dotfiles/dot.aws/
dotfiles/dot.emacs.d/
dotfiles/dot.gcloud/
dotfiles/dot.gitconfig
dotfiles/dot.gnupg/
dotfiles/dot.govc/
dotfiles/dot.hub
dotfiles/dot.kube/
dotfiles/dot.minikube/
dotfiles/dot.ssh/
dotfiles/dot.vimrc
