*.box
*.private
*.retry
*/.venv/*
*/env/*
*/venv/*
*~
.#*
config.yaml
.DS_Store
.cache/
.vagrant/
ansible-role-k8s-devkit/
dotfiles/dot.aws/
dotfiles/dot.emacs.d/
dotfiles/dot.gcloud/
dotfiles/dot.gitconfig
dotfiles/dot.gnupg/
dotfiles/dot.govc/
dotfiles/dot.helm/
dotfiles/dot.hub
dotfiles/dot.kube/
dotfiles/dot.minikube/
dotfiles/dot.ssh/
dotfiles/dot.vimrc
