---
# configuration override file for ansible-role-k8s-devkit
#
# ref: https://github.com/cisco-sso/ansible-role-k8s-devkit/blob/master/defaults/main.yml 
# ref: http://docs.ansible.com/ansible/latest/playbooks_variables.html

## kdk
kdk_user: vagrant
kdk_user_home: /home/vagrant

# bitbucket
bitbucket_user: example

# github
github_user: example
